*[
  margin: 0;
  border: 5px solid red;
  box-sizing: border-box;
]
body {
    min-height: 100vh;
    height: -webkit-fill-available;
    margin: 0;
    border: 5px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  .containerp{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: 50vh;
    width: 1850px;
    justify-content: space-around;
    
  }
  .box{
    height: 100px;
    width: 300px;
    font-size:24px ;
    text-align: center;
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#ffc000;
  }
  .content{
    position: fixed;
    height: 50px;
    width: 1920px;
    text-align: center;
  }
  body{
    background: white;
}

#side_nav{
    background: #ffdd6e;
    min-width: 300px;
    max-width: 300px;
}

.content{
    min-height: 100vh;
    width: 100%;
    text-align: center;
}
hr.h-color{
    background: #eee;
}
.sidebar li a{
    color: black;
}
  
